[Unit]
After=network.target
Description=cratebot
StartLimitBurst=120
StartLimitIntervalSec=10m

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=trace
ExecStart=/usr/local/bin/cratebot
Group=cratebot
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RestartSec=5s
StateDirectory=cratebot
StateDirectoryMode=0700
TimeoutStopSec=10m
Type=simple
User=cratebot
WorkingDirectory=/var/lib/cratebot

[Install]
WantedBy=multi-user.target
